body{
    background-color: #ffe4c4;
}

header{
    background-color: #2f4f4f;
}

header div,
footer div {
  width: 800px;
  margin: auto;
  padding: 20px;
}

main div {
   width: 600px;
  margin: auto;
  padding: 20px;
}
footer{
  text-align: center;
  font-family: cursive;
  background-color:#2f4f4f;
  color: #ffffff;
  margin: 0px;
  padding: 6px;
}
h1 {
    text-align: center;
    font-family: fantasy;
    color: #b22222;
    font-size: 50px;
}


nav {
  font-size: 22px;
  padding: 10px;
  margin: auto;
  width: 30% ;
  color: #a80b0b;   
}
li {
  list-style-position: inside;
}

img {
    margin-left: 250px;
}
.textcentered {
  text-align: center;
}
